<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <contextName>${APP_NAME}</contextName>
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="context" name="LOG_FILE_NAME" source="logging.file.name"/>
    <springProperty scope="context" name="LOG_FILE_DIR" source="logging.file.path"/>
    <springProperty scope="context" name="logging.mydir" source="logging.mydir"/>


    <if condition='isDefined("logging.mydir")'>
        <then>
            <property scope="context" name="LOG_FILE_DIR" value="${logging.mydir}"/>
        </then>
        <else>
            <property scope="context" name="LOG_FILE_DIR" value="c:/logs/otherdir"/>
        </else>

    </if>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>-->
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){yellow} [%thread] %clr(%5p) %clr(%-5level) %5p %class{30}.%method-%L %clr(%msg) =%contextName %n</pattern>
        </encoder>
    </appender>

    <appender name="PROJECT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天一归档 -->
            <fileNamePattern>${LOG_FILE_DIR}/project_%d{yyyy-MM-dd}_%i.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 最大64MB 超过最大值，会重新建一个文件 -->
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level [%thread] %logger{50}-%L %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50}-%L %msg%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PROJECT" />
    </root>
</configuration>
